#map {
    height: 600px;
    width: 90%;
    display: inline-block;
    border: solid gray 5px; 
}

#searchbar{
     margin-left: 15%;
     padding:15px;
     border-radius: 10px;
   }

    input[type=text] {
    width: 30%;
    -webkit-transition: width 0.15s ease-in-out;
    transition: width 0.15s ease-in-out;
 }

 /* When the input field gets focus,
      change its width to 100% */
 input[type=text]:focus {
   width: 70%;
 }
<<<<<<< HEAD
=======

 .sequence-control-container {  
  width: 350px;  
  height: 45px;  
  background-color: rgba(255,255,255,0.8); 
  line-height: 45px; 
  padding-top: 5px; 
  text-align: center;  
  border: solid gray 1px;  
} 
.season {
  width: 85px;  
  height: 40px;
}
>>>>>>> a1cb2f82b8c1bfaf33929914df54f0bea096b8fc
