#map {
    height: 600px;
    width: 90%;
    display: inline-block;
    border: solid gray 5px; 
}

#searchbar{
     margin-left: 15%;
     padding:15px;
     border-radius: 10px;
     z-index: 100000;
     position:absolute;
     top:40px;
   }

    input[type=text] {
    width: 30%;
    -webkit-transition: width 0.15s ease-in-out;
    transition: width 0.15s ease-in-out;
 }

 /* When the input field gets focus,
      change its width to 100% */
 input[type=text]:focus {
   width: 70%;
 }
 .sequence-control-container {  
  width: 350px;  
  height: 45px;  
  background-color: rgba(255,255,255,0.8); 
  line-height: 45px; 
  padding-top: 5px; 
  text-align: center;  
  border: solid gray 1px;  
  display:none;
} 
.season {
  width: 85px;  
  height: 40px;
}
#list{
  font-size:  1.5em;
  margin-left: 90px;
 }

.birds{
 display: list-item; 
} 

.close-tooltip {
  font-size: 20px;
  color: red;
  position:absolute;
  top: 5px;
  right: 5px;
  background-color: white;
  border: solid 2px cornflowerblue;
}

.tooltip {
  font-size: 12px;
  text-align: center;
  color:cornflowerblue;
}